@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: content-box;
    font-family: 'Roboto';
    /* display: flex;
    flex-direction: row; */
}
body{
  max-width: 100%;
 /* background: #ff6e7f;  /* fallback for old browsers */
  /*background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */ 
  background :url(/images/illu2.jpg);
  background-size: 65%;
  background-repeat: no-repeat;
  background-color: #e8beca;
}
.container{
    width: 34%;
    height: 480px;
    border-radius: 18px;
    margin: 8% 3% 5% 62%;
    background-color :#fafafa;
    /*background: linear-gradient(35deg,#CCFFFF,#FFCCCC); */
    box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
    filter: blur(1.5);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.container:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
    transition: 500ms;
    transition-duration: 500ms;
    filter: blur(1.5);
    /* transform: scale(1.33,1.4); */
}

h3{
    text-align: center;
    font-size: 2em;
    position: relative;
    top:10%;
    font-weight: 400;
    font-family: 'Roboto';
}
.login-elm{
  position: relative;
  top:15%;
  font-family: 'Roboto';
  text-decoration: black;
  font-size: 1em;
  font-weight: 400;
}
a{
    color: #2f8eff;
    text-decoration-line: none;
}
.login-box{
    position: relative;
    top:40%;
    margin-left:2px;

}
#one{
    
    width: 48%;
    height: 50px;
    background-color: #eeeeee;
    color: #a2a2a2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:none;
    filter: blur(1.5);
    font-size: 0.9em;
    text-align: center;
    
}
#one:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
    transition: 500ms;
    transition-duration: 500ms;
    filter: blur(1.5);
    background-color: #ffffff;
    
}
#two{
    
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    background-color: #eeeeee;
    color: #a2a2a2;
    border:none;
    font-size: 0.9em;
    text-align: center;

}
#two:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
    transition: 500ms;
    transition-duration: 500ms;
    filter: blur(1.5);
    background-color: #ffffff;
}
#three{

    margin-block-start: 8px;
    width:99%;
    height: 50px;
    background-color: #eeeeee;
    color: #a2a2a2;
    border:none;
    border-radius: 10px;
    font-size: 0.9rem;
    text-align: center;

}
#three:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.19);
    transition: 500ms;
    transition-duration: 500ms;
    filter: blur(1.5);
    background-color: #ffffff;
}
#four{

    margin-block-start: 8px;
    width:99%;
    height: 50px;
    background-color: #eeeeee;
    color: #a2a2a2;
    border:none;
    display: flex;
    border-radius: 10px;
    font-size: 0.9em;
    text-align: center;
    flex-basis: 100%

}
#four:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
    transition: 500ms;
    transition-duration: 500ms;
    filter: blur(1.5);
    background-color: #ffffff;
}
::placeholder{
    font-size: 0.9em;
   font-family: 'Roboto';
    align-items: center;
    position: relative;
    text-align: center;
}
[type=submit]{
    width:100%;
    background-color: #2f8eff;
    color:white;
    border: none;
    height: 50px;
    border-radius:10px;
    margin-block-start: 8px;
    font-size: 0.9em;
    font-family: 'Roboto';
    
}
[type=submit]:hover{
    box-shadow: 0 8px 13px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    transition: 500ms;
    transition-duration: 500ms;
    filter: blur(1.5);
    background-color: white;
    color: #2f8eff;
   
} 
#checkbox{
    position: relative;
    top:12%;
    width: 15%;
    height: 15%;
    margin-block-end: 8px;
    border:none;
    border-radius:20px;
    background-color: #f2f2f2;
}
#p{
    font-size: 0.6em;
    position: relative;
    left:20px;
    right:50px;
    bottom:15px;
    font-family: 'Roboto'; 
    
}
#terms{
  text-decoration: none;
  font-family: 'Roboto'; 
  font-size: 1em;   
}
.container1 {
    display: block;
    position: relative;
    padding-left: 13px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.4em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 4px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius:14px;
    margin-block-start: 14px;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark {
    background-color: #ccc;
    transition: 500ms;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container1 input:checked ~ .checkmark {
    background-color: #2196F3;
    transition: 500ms;

  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
 /* .heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 270px;
    background-color: rgb(255, 0, 43);
    height: 40px;
    width: 40px;
    transform:rotate(-45deg) ;
  }
  .heart::after {
    background-color: rgb(255, 0, 43);
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 25px;
  }
  .heart::before {
    content:"" ;
    background-color: rgb(255, 0, 43);
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -25px;
    left: 0px;
  }
  */
  

  /* Media queries for small and large screens */

@media only screen and (min-width:360px) and (max-width:1080px)
{

.container{
  transform: scale(0.8);
  width:100%;
  margin: 0 auto;
}
body{
  background:none;
  background-color: #e8beca;
} 
.login-box{
  transform: scale(1.1);
  width:100%;
}
}