@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

/* --- get started --- */

.get-started{
    background-image: url(../images/start.png);
    
    background-repeat:no-repeat;
    background-size: cover;
    background-size: contain;
    height: 92vh;
    width: 100%;
    margin-top: 55px;
    padding-top: 10%;
    overflow: hidden;
    background-blend-mode: multiply;
    
    
}
.start {
    
    width: 30%;
    margin: 20px 60%;
    align-items: center;
    
    
    
    
}
.start h2{
    
    
    width: max-content;
    margin:0px auto;
    font-family: 'Cabin Sketch';
    font-size: 5rem;
    
    
    
}
.start p{
    
    width: max-content;
    margin:0px auto;
    font-family: 'Barlow';
    font-size: 1.8rem;
    /* font-weight: bold; */
}
.start h3{
    width: max-content;
    margin:10px auto;
    color: white;
    background-color: black;
    padding: 8px;
    font-size: 1.2rem;
    font-family: 'Barlow';
    cursor: pointer;
}

/* --- ABOUT US --- */

.about-us{
    width: 100%;
    height: 90vh;
    padding-top: 5%;
    display: flex;
    box-shadow: 1px 0px 5px black;
    
}
.about-img img{
        width: 140%;
        
        
}
.about-content{
        width: 80%;
        padding-left: 15%;
        padding-top: 12%;
        
        
}
.about-content h2{
    font-family: 'Barlow';
    font-size: 2rem;
    margin: 7px;
}
.about-content p{
    width: 80%;
    font-family: 'Barlow';
    font-size: 1rem;
    margin: 7px;
}
.about-content a{
    color: black;
    margin: 7px;
    font-family: 'Barlow';
    font-size: 1.1rem;
    font-weight: bold;
}

/* --- LATEST NEWS --- */

.news{
    padding-top: 7vh;
    height: 80vh;
    width: 100%;
    
    

}
.news h2{
    width: 100%;
    text-align: center ;
    font-family: 'Barlow';
    font-size: 1.8rem;
    
}
.news-content{
        margin-top: 5%;
        display: flex;
        justify-content: space-evenly;
        
}
.news-element{
        background-color: white;
        width: 20%;
        box-shadow: black 2px 2px 8px;
        
}
.news-element img{
        width: 100%;
        height: 40%;
        
}
.news-element h3{
    font-size: 0.8rem;
    font-family: monospace;
    margin: 5%;
    color: indianred;
}
.news-element h2{
    margin: 5%;
    width: 80%;
    font-size: 1.2rem;
    text-align: left;
    font-family: 'Barlow';
}
.news-element input{
    border: 1px solid gray;
    border-radius: 5%;
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(58, 56, 56);
    font-size: 0.8rem;
    padding: 2%;
    margin: 5%;
    width: max-content;
}
.news-element p{
    width: max-content;
    float: right;
    margin: 5%;
    font-family: monospace;
    color: grey;

}
.news-element a{
    color: rgb(56, 53, 53);
    font-size: 1rem;
}


/* tesimonials */


.testimonials{
    position: relative;
    padding-top: 30px;
    box-shadow: 1px 0px 5px black;
    height: 80vh;
        
}
.testimonials h2{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2rem;
        margin-bottom: 4%;
}

.testim-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-top: 7%;
    margin-left:  10%;
}

.testim-content{
    position: relative;
    height: 40vh;
    width: 30%;
    display: inline-block;
    border-radius: 2%;
    box-shadow: black 1px 1px 5px;
    background-color: rgb(223, 223, 223);
    
    
    transition: 0.4s;
        
        
}

.testim-content img{
    height: auto;
    width: 25%;
    border: gray solid 1px;
    border-radius: 100%;
    margin-left: 39%;
    position: absolute;
    top: -10%;
}
.testim-content i{
    float: right;
    
    margin-right: 5%;
    font-size: 170%;
    color: red;
}
.testim-content h4{
    width: 100%;
    text-align: center;
    margin-top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 4%;
}
.testim-content p{
    width: 80%;
    font-size: 1rem;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-top: 10%;
    margin-left: 7% ;
}
.testim-content .icons{
        position: absolute;
        bottom: 2%;
        right: 2%;
        width: 50%;
        
}
.testim-content .icons i{
        color: rgb(39, 37, 37);
        font-size: 85%;
        margin: 8%;
           
}
#testim1{
    height: 30vh;
    width: 17%;
    opacity: 40%;
    cursor: pointer;
    
}
#p1{
    display: none;
}
#testim3{
    height: 30vh;
    width: 17%;
    opacity: 40%;
    cursor: pointer;
}
#p3{ 
    display: none;
}
#testim4{
    height: 30vh;
    width: 17%;
    opacity: 40%;
    cursor: pointer;
}
#p4{
    display: none;
}

.flech{
    display: none;
}
.points{
    display: none;
}





/* query---  */


@media(max-width: 800px){
    .get-started{
        background-image: linear-gradient(#e66465, #9198e5) url(../images/start.png);
        background-size: 170%;
        width: 100%;
        margin-top: 10vh;
        box-shadow: none;
        height: 85vh;
        
    }
    .start{
        width: 70%;
        margin-left: 11%;
        align-items: center;
    }
    .start h2{
        margin-bottom: 5%;
    }
    .start h3{
        margin-top: 20%;
    }

    .about-us{
        display: inline-block;
        position: relative;
    }
    .about-img{
        margin-top: 12%;
        width: 100%;
    }
    .about-img img{
        width: 100%;
    }

    .about-content h2{
        position: absolute;
        top: 3%;
        left: 15%;
    }
    .about-content p{
        margin-top: -10%;
        margin-bottom: 5%;
    }

    .news{
        height: max-content;
    }
    .news-content{
        flex-direction: column;

    }
    .news-element{
        width: 70%;
        
        margin: 5% auto;
    }

    .testimonials{
        height: 80vh;
    }
    .testim-content{
        display: none;
        margin-top: 30%;
        width: 80%;
        height: 40vh;
        opacity: 100%;
        
    }
    .testim-content p{
        font-size: 0.9rem;
    }
    #testim1{
        display: block;
        margin-top: 30%;
        width: 80%;
        height: 40vh;
        opacity: 100%;

        
    }
    #p1{
        display: block;
    }
    .flech{
        display: block;
    }
    .fa-chevron-right{
        position: absolute;
        top: 55%;
        right: 5%;
        cursor: pointer;
    }
    .fa-chevron-left{
        position: absolute;
        top: 55%;
        left: 5%;
    }
    .points{
        display: flex;
        position: absolute;
        top: 80%;
        left: 45%;
    }
    .points h3{
        font-size: 2.5rem;
        margin: 5%;
        color: gray;
    }

    #n1{
        color: black;
    }
}