@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: content-box;
    font-family: 'Exo 2';
}
.container{
    width: 30%;
    height: 460px;
    border-radius: 18px;
    float: right;
    margin : 8% 5% 0% 0%;
    background-color: white;
    box-shadow: 0 8px 8px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
    filter: blur(1.5);
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
/* .container:hover{
    transition: 500ms;
    transition-duration: 500ms;
    filter: blur(1.5);
    margin-top:90px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.534);
    box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);
} */
body{
    width: 100%;
   /* background: #ff6e7f;  /* fallback for old browsers */
    /*background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */ 
    background :url(/images/illu2.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: #e8beca;
}
h3{
    text-align: center;
    font-size: 2em;
    position: relative;
    top:10%;
    font-weight: 200;
    font-family: 'Roboto',sans-serif;
}
.login-elm{
  display: flex;
  flex-direction: row;
  position: relative;
  top:15%;
  font-family: 'Roboto';
  text-decoration: black;
  font-size: 1em;
  font-weight: 400;
}
a{
    color: #2f8eff;
}
.login-box{
   display: flex;
   flex-direction: column;
   flex-basis: 100%;
   justify-content: flex-end;
   position: relative;
   top:47%;
}

#three{
    flex-basis: 100%;
    width:120%;
    height: 50px;
    background-color: #f2f2f2;
    color: #a2a2a2;
    border:none;
    border-radius: 10px;
    font-size: 0.8em;
    text-align: center;
    position: relative;
    right:10%;
    transition: 500ms;
    transition-duration: 500ms;
    

}
#four{
    flex-basis: 100%;
    position: relative;
    right:20px;
    margin-block-start: 8px;
    width:120%;
    height: 50px;
    background-color: #f2f2f2;
    color: #a2a2a2;
    border:none;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    transition: 500ms;
    transition-duration: 500ms;
    
}
#three:hover,#four:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.19);
    background-color: #ffffff;
}
::placeholder{
    font-size: 1em;
    font-family: Nanum Gothic;
    align-items: center;
    position: relative;
    text-align: center;
    letter-spacing: 0.8px;
}
[type=submit]{
    width:120%;
    background-color: #2f8eff;
    color:white;
    border: none;
    height: 50px;
    transition: 500ms;
    transition-duration: 500ms;
    border-radius:10px;
    margin-block-start: 18px;
    margin-block-end: 10px;
    font-size: 0.8em;
    font-family: 'Poppins';
    position: relative;
    right:10%;
    letter-spacing: 1px;
    
    
}
[type=submit]:hover{
    box-shadow: 0 8px 13px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    transition: 500ms;
    transition-duration: 500ms;
    background-color: white;
    color: #2f8eff;
   
} 
.link1{
  position: relative;
  top:24%;
  font-family: 'Nanum Gothic';
  text-decoration: black;
  font-size: 0.8rem;
  font-weight: 300;
  margin-block-end: 4%;
}
.link2{
    position: relative;
    top:24%;
    font-family: 'Nanum Gothic';
    text-decoration: black;
    font-size: 0.8rem;
    font-weight: 300;
    
}
#link1{
    text-decoration-line: none;
}

/* Media queries for small and large screens */

@media only screen and (min-width:360px) and (max-width:1080px)
{

    .container{
        transform: scale(0.8);
        width:100%;
        margin: 0 auto;
      }
      body{
        background:none;
        background-color: #e8beca;
      } 
      .login-box{
        transform: scale(1.1);
      }
    
}